<link rel="stylesheet" type="text/css" href="style.css">
<div class="title">
<h1>Dodaj Wycieczke</h1>
<img src="https://www.shutterstock.com/image-vector/go-road-trip-vector-illustration-260nw-624096107.jpg" alt="Go to Trip" />
</div>

