<link rel="stylesheet" type="text/css" href="style.css">
<div class="title">
    <h1>Dodaj Wycieczke</h1>
    <img src="https://t4.ftcdn.net/jpg/04/26/63/63/360_F_426636349_rAGKwmQcbPZuWgaSpxOrByB94JPmEp6w.jpg" alt="Time to travel" />
</div>

<form asp-action="Edit">
    <div>
        <input type="submit" value="Edytuj Wycieczke" class="btn btn-primary submit-button" />
        <a asp-action="Index" class="btn btn-primary submit-button">Wróć do listy</a>
    </div>
</form>