@{
    ViewData["Title"] = "Error 404";
}
<link rel="stylesheet" type="text/css" href="style.css">
<div class="title">
    <h1>Nie odnaleziono wycieczki !</h1>
    <img src="https://images.assetsdelivery.com/compings_v2/unitonevector/unitonevector1904/unitonevector190400170.jpg" alt="Go to Trip" /><br />
    <a asp-action="Index" class="btn btn-primary submit-button">Wróć do listy</a>
</div>