@{
    
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Admin Dashboard</h1>
        </div>
        <div class="col-md-12">
            <p>Welcome to the Admin Dashboard</p>
        </div>
    </div>
    <div>
        <component type="typeof(WebApplication1.Components.Menu.AdminMenu)" render-mode="ServerPrerendered" />
    </div>
    <div>
        <component type="typeof(WebApplication1.Components.Form.CustomerAdd)" render-mode="ServerPrerendered" />
    </div>
</div>



