@{
    ViewData["Title"] = "TripsDemo App";
}

<link rel="stylesheet" type="text/css" href="style.css">
<div class="title">
    <h1>Witaj w demo aplikacji wycieczek</h1>
    <img src="https://www.hhhlibrary.org/sites/default/files/2021-01/Road%20Trip.jpg" alt="Road Trip Image" />
    <h4>Aby skorzystać aplikacji naciśnij guzik "Przejdź do listy" lub "Trips" w górnym menu</h4>
    <a asp-area="" asp-controller="Trip" asp-action="Index" class="btn btn-primary submit-button">Przejdź do listy</a>
    <a href="@Url.Action("Index", "AdminCRUD")" class="btn btn-primary submit-button">Jump</a>
</div>