@page "/admin/menu"

<h3>Admin  Menu</h3>

@code {

}

<div class="cointainer">
    <a>Customer</a>
    <a>Hotel</a>
    <a>HotelRoom</a>
    <a>Offert</a>
    <a>Reservation</a>
    <a>Review</a>
    <a>Tag</a>
</div>